{minimum_otp_vsn, "22"}.
{erl_opts, [
    {parse_transform, lager_transform},
    {lager_function_transforms,
        [
            %% Placeholder              Resolve type  Callback tuple
            {device,       on_log,      {faxe_util, device_name}}
        ]},
    debug_info
]}.

{deps, [
    {lager, "3.9.1"},
    {faxe_common,        {git, "git://github.com/heyoka/faxe_common.git", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [faxe_ext_example]}
]}.
